.App {
  text-align: center;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-title {
  margin: 0;
  padding: 40px 20px;
}
